.shop-banner-background{
    width: 100%;
    height: 150px;

    background: linear-gradient(90deg, rgba(34,16,244,1) 60%, rgba(223,192,14,1) 100%);
}

.banner-decoration-spot{
    position: relative;
    margin: 0 auto;
    max-width: 1300px;
    height: 100%;

}

.banner-decoration-spot .banner-deco{
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
}

.blitz-title{
    max-width: 1024px;
    margin: 0 auto;
}

.blitzshop-logo{
    height: 76px;
    width: 350px;
    margin-top: 30px;
    z-index: 1;
}

.title-box{
    display: flex;
    align-items: start;
    flex-direction: column;
    
    height: 100%;
    margin-left: 140px;
}

.title-box h1{
    z-index: 1;
    font-style: italic;
    font-size: 32px;
}

.sorteio{
    margin: 50px auto;
    max-width: 1024px;
}

.blitz-tickets{
    display: flex;
    align-items: center;
    gap: 5px;
}

.blitz-tickets img{
    width: 20px;
}

/* POPUP CONFIRMAÇÃO */
.pop-up{
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25 ease-in-out;
}

.pop-up-content{
    font-family: "Michroma", sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    background: #2210F4;
    border-radius: 15px;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pop-up-btn{
    display: flex;
    justify-content: space-around;
}

.pop-up-btn button{
    width: 130px;
    height: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.option-confirm{
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #2210F4;
}

.option-cancel{
    background-color: transparent;
    border: 3px solid white;
    border-radius: 5px;
    color: white;
}

.pop-up-btn button:hover{
    color:#fcbc1a;
    transition: 0.1s ease;
    box-shadow: 0px 0px 5px;
}

.mostrar-pop-up{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    z-index: 3;
}



/* BORDA PERSONALIZADA */
.Homeblue-frame-one-sec3{
    max-width: 1024px;
    background: rgb(34,16,244);
    background: linear-gradient(205deg, rgba(34,16,244,1) 0%, rgba(16,16,16,1) 35%);
    padding-right: 4px;
    padding-top: 4px;
}

.Homeblue-frame-inner-one-sec3{
    background-color: #101010; 
    padding-right: 15px; 
    padding-top: 12px; 
}

.Homeblue-frame-two-sec3{
    max-width: 1024px;
    background: rgb(34,16,244);
    background: linear-gradient(205deg, rgba(34,16,244,1) 0%, rgba(16,16,16,1) 35%);
    padding-right: 4px; 
    padding-top: 4px; 
    position: relative;
}

.Homeblue-frame-inner-two-sec3{
    background-color: #101010;
    padding-right: 12px; 
    padding-top: 12px;

}

.sorteio-title{
    position: absolute;
    top: 0;
    font-style: italic;
    font-size: 26px;
    color: transparent;
    -webkit-text-stroke: 0.5px white;
}


/* BORDA PERSONALIZADA FIM */

/* AREA DE SORTEIO(SEÇÃO 3) */
.sorteio-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1024px;
    height: 100%;
    background-color:#2210F4;
    border-radius: 15px;
}

.sorteio-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 30px;

}

.anounce-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 8px;
}

.anounce-img-container img{
    width: 100%;
    border-radius: 10px;
    border: 8px solid #000053;
    margin: 15px;
} 

.card-interactions{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.tickets-txt{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #FAE101;
    font-size: 45px;
    animation: shiny 1s ease-in-out infinite alternate;
}

.tickets-txt img{
    margin-top: 10px;
    width: 65px;
    height: 60px;
}

.eprix{
    font-size: 48px;
    font-style: italic;
    text-shadow: 1px 1px 5px #ffffff;
}

.passagem{
    font-weight: 300;
    font-size: 26px;
}

.probabilistico{
    margin: 36px 0 0 0;
}

.probabilistico p{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.prob-btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.more-minus-btns{
    background: transparent;
    max-width: 240px;
    min-width: 115;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    border: 5px solid white;
}

.more-minus-btns button{
    font-weight: bold;
    color: #ffffff;
    border: none;
    background: none;
    cursor: pointer;
}

.more-btn{
    font-size: 60px;
}

.minus-btn{
    font-size: 65px;
}

.more-minus-btns button:hover{
    transition: 0.2s;
    scale: 120%;
    text-shadow: 0px 2px 5px rgb(153, 153, 153);
}

.more-minus-btns p{
    display: flex;
    font-size: 32px;
    color: #FAE101;
    align-items: center;
    padding-top: 13px;
    font-style: italic;
    text-shadow: 0px 2px 5px rgb(153, 153, 153);
}

.participar-btn{
    width: 230px;
    background: white;
    font-weight:bold;
    color: blue;
    font-size: 32px;
    border-radius: 10px;
    cursor: pointer;
    border: 5px solid white;
}

.participar-btn:hover{
    color: #ffffff;
    background-color: #2210F4;
    transition: 0.3s;
}

.corner-logo{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    bottom: 0;
    margin-right: 50px;
    margin-bottom: 15px;

}

.section-four{
    max-width: 1024px;
    margin: 0 auto 30px auto;
    display: flex;
    justify-content: center;
    
}

/* SEÇÃO 4 */
/* temporizador */
.timer{
    font-family: "Numans", sans-serif;
    color: #01FD47;
    z-index: 1;

}

.temporizador{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    font-family: "Numans", sans-serif;
    font-size: 20px;
}

.item-cards-display{
    max-width: 1024px;
    margin: 20px;
    display: flex;
    justify-content: space-between;

}

.item-card{
    width: 180PX;
    height: 370px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.item-card p{
    font-family: 'Michroma', sans-serif;
    font-weight: 600;
}

.item-description.lendario{
    color: #C99B26;
}

.item-description.raro{
    color: #FF1F1F;
}

.item-description.especial{
    color: #FF2F99;
}

.item-description.comum{
    color: black;
}

.item-name{
    color: black;
    font-size: 16px;
}

.item{
    max-width: 150px;
}

.item.comum{
    width: 133px;
}

.blitz-qtd.price{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.adquirir{
    width: 125px;
    height: 30px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D9D9D9;
    cursor: pointer;
}

.adquirir:hover{
    filter: brightness(120%);
}

.adquirir.lendario{
    background-color: #C99B26;
}

.adquirir.raro{
    /* background-color: #FF1F1F; */
    background-color: transparent;
    color: #000000;
}

.adquirir.especial{
    background-color: #f71156;
}

.adquirir.comum{
    background-color: #000000;
}

.raridade{
    font-size: 24px;
    color: #101010;
}

.fundo-item-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 400px;
    background-color: #101010;
    position: relative;
    z-index: 2;
    border-radius: 3px;
}


.item-card.lendario{
    background-color: #FFEBB7;
}

.item-card.raro{
    background-color: #FF7E7E;
}

.item-card.especial{
    background-color: #FF84C3;
}

.item-card.comum{
    background-color: #D9D9D9;
}

.borda-animada-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

@keyframes AnimarBorda {
    0%{
        background-position: 100%;
    }
    100%{
        background-position: 0%;
    }    
}

/* CARD LENDARIO */
.borda-animada-item.lendario::before, .borda-animada-item.lendario:after{
    content: '';
    position: absolute;
    z-index: 1;
    width: 220px;
    height: 410px;
    background: linear-gradient(45deg,#ffae00, #ffff00, #221300, #101010, #221300,  #ffae00, #ffff00);
    background-size: 1000% 200%;
    animation: AnimarBorda 10s linear infinite;
    border-radius: 5px;
}

.borda-animada-item:after{
    filter: blur(10px);
}

/* CARD RARO ANIMAÇÃO */
.borda-animada-item.raro::before, .borda-animada-item.raro:after{
    content: '';
    position: absolute;
    z-index: 1;
    width: 220px;
    height: 410px;
    background: linear-gradient(45deg,#FF1F1F, #ff6565, #2c0101, #101010, #2c0101,  #FF1F1F, #FF1F1F);
    background-size: 1000% 200%;
    animation: AnimarBorda 10s linear infinite;
    border-radius: 5px;
}

/* CARD ESPECIAL ANIMAÇÃO*/
.borda-animada-item.especial::before, .borda-animada-item.especial:after{
    content: '';
    position: absolute;
    z-index: 1;
    width: 220px;
    height: 410px;
    background: linear-gradient(45deg, #FF2F99, #f71156, #440023, #101010, #440023,  #FF2F99, #f71156);
    background-size: 1000% 200%;
    animation: AnimarBorda 10s linear infinite;
    border-radius: 5px;
}

/* CARD COMUM ANIMAÇÃO*/
.borda-animada-item.comum::before, .borda-animada-item.comum:after{
    content: '';
    position: absolute;
    z-index: 1;
    width: 220px;
    height: 410px;
    background: linear-gradient(45deg, #ffffff, #727272, #242424, #101010, #242424,  #ffffff, #727272);
    background-size: 1000% 200%;
    animation: AnimarBorda 10s linear infinite;
    border-radius: 5px;
}

.areaShop{
    display: flex;
    max-width: 1024px;
    flex-wrap: wrap;
    gap: 40px;
}

.item-adquirido{
    background-color: transparent;
    transition: 0.2s ease;
    pointer-events: none;
    color: #000000;
}